@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    background-color: #2f74c0;
}

.App {
    font-family: "Neucha", cursive;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 40px;
    background-color: #2f74c0;
}

.heading {
    font-size: 40px;
    z-index: 1;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 800px) {
    .heading {
        font-size: 35px;
        margin: 15px 0;
    }
}