@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
    font-family: "Neucha", cursive;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #2f74c0;
}

.heading {
    font-size: 40px;
    z-index: 1;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 800px) {
    .heading {
        font-size: 35px;
        margin: 15px 0;
    }
}